/* setear nuestros archivos*/

body{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding:0px;
  color: #303030;
}


/*clases reutilizables*/
.text-uppercase{
  text-transform: uppercase;
}

.box-header{
  display: inline-block;
}

/*clases especificas*/
.logo-header{
  width:200px;
}


li{
  display: inline;
  list-style: none;
}


li a{
  text-decoration: none;
  color: inherit;
}


header{
  position: relative;
}

nav{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%)
}


img[alt="laboratoria"]{
  width: 120px;
}

section{
  text-align: center;
}

button{
  background-color: #f9a91a;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  
}







div{
  display: inline-block;
  width: 32%;
}

spam{
  font-size: 60px;
}

body section:last-child{
  margin-top: 30px;
}